.title{
  font-family: "DM Sans", "DM Sans Placeholder", sans-serif;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1.64px;
  line-height: 100%;
  color: #e6a60a;
  margin-top: 2%;
}